<% var data = {
    title: "Title"
}; %>

<%= _.template(require('./../includes/header.html').default)(data) %>
<%= _.template(require('./../includes/header-part.html').default)(data) %>

<main class="site-content">	
    
    <div class="main">
        main
    </div>

</main>

<%= _.template(require('./../includes/footer-part.html').default)(data) %>
<%= _.template(require('./../includes/footer.html').default)(data) %>